a{
    text-decoration: none;
    color: #212529;
}
.filterMembersBtn{
    border: 0;
}
.filterNotificationsBtn{
    border: 0;
}
.filterDiscussionsBtn{
    border: 0;
}


i>.active.show{
    color:blue;
}
button{
    border: 0;
}